<div class="overlay d-none position-fixed bottom-0" data-camera-target="uploadForm">
  <div class="form-upload">
    <div class="upload-back-exit-button">
      <div>
        <button data-action="click->camera#resetUpload" data-camera-target="backButtonUpload" class="secondary d-none"><i class="fa-solid fa-arrow-left-long"></i></button>
        <button data-action="click->camera#resetCapture" data-camera-target="backButtonCapture" class="secondary d-none"><i class="fa-solid fa-arrow-left-long"></i></button>
      </div>
      <button data-action="click->camera#resetModal" class="secondary"><i class="fa-solid fa-xmark"></i></button>
    </div>

    <div data-camera-target="selectionView" class="buttons-form">
      <%= image_tag "upload_image.png", class: "mx-auto d-block", style: "width: 150px;" %>
      <p>Choose how you would like to upload your images</p>
      <%= link_to "Choose from gallery", "#", :class => "btn btn-primary form-button", data: {action: "click->camera#showUploadView" } %>
      <%= link_to "Take picture ", "#", :class => "btn btn-primary form-button", data: {action: "click->camera#showCameraView" } %>
    </div>

    <div data-camera-target="uploadView" class="d-none upload-view">
      <%= simple_form_for garment do |f| %>
        <div>
          <%= f.input :ai_description, placeholder: 'AI Description', as: :hidden %>
          <%= f.input :photo, as: :file, input_html: {data: { action: 'change->camera#onInputChange'} } %>
          <%= f.button :submit, "Add to my Wardrobe", class: "btn btn-primary d-none", data: { camera_target: "submitUploadButton" } %>
        </div>
      <% end %>
    </div>

    <div data-camera-target="cameraView" class="d-none camera-view">
      <canvas id="canvas" data-camera-target="canvas" class="d-none"></canvas>
      <div class="output">
        <img id="photo" alt="The screen capture will appear in this box."
              data-camera-target="preview"/>
      </div>

      <video id="video"
              playsinline
              data-camera-target="video"
              data-action="canplay->camera#resizeVideos">
        Video stream not available.
      </video>
      <button id="startbutton" data-camera-target="pictureButton" data-action="click->camera#takePicture" class="btn primary">Take photo</button>
      <button class="d-none secondary" data-camera-target="retakeButton" data-action="click->camera#clearPicture">Retake</button>

      <%= simple_form_for garment do |f| %>
        <%= f.input :ai_description, placeholder: 'AI Description', as: :hidden %>
        <%= f.input :photo, as: :file, input_html: { style: 'display:none;',  data: { camera_target: "cameraInput"} }, label_html: {style: "display:none;"} %>
        <%= f.button :submit, "Add to my Wardrobe", class: "btn btn-primary d-none mx-auto d-block", data: { camera_target: "submitCameraButton" } %>
      <% end %>
    </div>
  </div>
</div>
