 <div class="container mt-3">
 <%= link_to "Back", garments_path, class: "btn secondary mb-3"%>
  <div class="d-flex flex-column px-2 align-items-center" style="height: 400px">
    <% if @garment.photo.attached? %>
      <%= cl_image_tag @garment.photo.key, class: "image-show" %>
    <% else %>
      <%= image_tag @garment.image_url, class: "image-show" %>
    <% end %>
    <%= @garment.ai_description.capitalize %>
  </div>
   <%= link_to "Edit item", edit_garment_path(@garment), class: "btn secondary mb-3"%>


 </div>
