<div class="text-center m-3">
<h2> Pick your outfit </h2>
</div>
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <% @recommendations.each_with_index do |recommendation, index| %>
        <div class="carousel-item <%= 'active' if index == 0 %>">
              <% if recommendation[0].photo.attached? %>
                <%= cl_image_tag recommendation[0].photo.key, class: "carousel-card" %>
              <% else %>
                <%= image_tag(recommendation[0].image_url, class: "carousel-card") %>
              <% end %>
              <% if recommendation[1].photo.attached? %>
                <%= cl_image_tag recommendation[1].photo.key, class: "carousel-card" %>
              <% else %>
                <%= image_tag(recommendation[1].image_url, class: "carousel-card") %>
              <% end %>
              <div class="d-flex justify-content-center align-items-center">
            <%= link_to "Select outfit", recommendations_success_path( top: recommendation[0], bottom: recommendation[1] ), class: "btn primary  mt-3" %>
              </div>
            </div>
      <% end %>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
