<h2> Recommendations </h2>

<%# <% @recommendations.each do |recommendation| %>
  <%# <div class="d-flex"> %>
    <%# <p>Recommendation</p> %>
      <%# <%= cl_image_tag recommendation[0].photo.key, class: "image-show" %>
      <%# <%= cl_image_tag recommendation[1].photo.key, class: "image-show" %>
  <%# </div> %>
<%# <% end %>


<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <% @recommendations.each_with_index do |recommendation, index| %>
      <div class="carousel-item <%= 'active' if index == 0 %>">
          <div class="d-block w-100">
            <%= cl_image_tag recommendation[0].photo.key, class: "image-show" %>
            <%= cl_image_tag recommendation[1].photo.key, class: "image-show" %>
          </div>
      </div>
    <% end %>
  </div>


  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
