<div class="container mt-3 mb-3 text-center" style="margin-left: 50px;">
<p>At the moment there is <%= @weather_summary %> and <%= @current_temp  %> degrees in <%= @location  %>  </p>
<p> Max. temperature today will be <%= @max_temp %> degrees</p>
  <h1>Your Preferences</h1>
  <h4 style="margin-bottom: 20px;">Please select your choices</h4>
  <div class="field" data-controller = "preferences">
    <%= form_with url: recommendations_path, method: :get, local: true do |form| %>
          <%# <%= form.label :location, "What's your location?" %>
            <%# <div> %>
            <%# <%= form.text_field :location %>
            <%# </div>  %>
          <%= form.label :occasion, "What's the occasion? (optional)" %>
            <div>
              <div>
                <div>
                  <%= form.select :occasion, options_for_select(
                 [["", ""],["Work", "work"], ["Festive", "festive"], ["Casual", "casual"], ["Other (please specify)", "other"]],
                 params[:occasion]
                  ), {}, data: { preferences_target: "occasion", action: "change->preferences#fire" }
                  %>
                </div>
              </div>
              </div>
             <div data-preferences-target="customOccasion" class="d-none" style="margin-top: 20px">
               <%= form.label :custom_occasion, "Specify the occasion" %>
               <div>
                 <%= form.text_field :custom_occasion, placeholder: "e.g. dinner", class: "input" %>
              </div>
             </div>
          <div style="margin-top: 20px;">
            <%= form.label :feeling, "How are you feeling today? (optional)" %>
            <div>
            <%= form.text_field :feeling, placeholder: "happy, sad, colorful", class: "input" %>
            </div>
          </div>
      <div class="actions">
        <%= form.submit "Get Recommendations", class: 'btn secondary mt-4' %>
      </div>
    <% end %>
  </div>
</div>
