<h1>Your Preferences</h1>
<h4>Please select your choices</h4>
<div class="field" data-controller = "preferences">
<%= form_with url: recommendations_path, method: :get, local: true do |form| %>
      <%# <%= form.label :location, "What's your location?" %>
        <%# <div> %>
        <%# <%= form.text_field :location %>
        <%# </div>  %>
      <%= form.label :occasion, "What's the occasion? (optional)" %>
        <div class="d-flex">
          <div>
             <div>
              <%= form.select :occasion, options_for_select(
                 [["", ""],["Work", "work"], ["Festive", "festive"], ["Casual", "casual"], ["Other (please specify)", "other"]],
                 params[:occasion]
              ),
                input_html:  { data: { preferences_target: "occasion", action: "change->preferences#fire" } }
              %>
            </div>
          </div>
          </div>
      <div data-preferences-target="customOccasion">
        <%= form.label :custom_occasion, "Specify the occasion (optional)" %>
        <div>
        <%= form.text_field :custom_occasion, placeholder: "Specify the occasion" %>
        </div>
      </div>
  <div>
    <%= form.label :feeling, "How are you feeling today? (optional)" %>
    <div>
    <%= form.text_field :feeling, placeholder: "Happy, sad, colorful" %>
    </div>
  </div>
  <div class="actions">
    <%= form.submit "Get Recommendations" %>
  </div>
<% end %>
</div>
