<h1 class="page-title" id="success-page">Congratulations 🎉</h1>

<div class="page-container">
<div class="title-container">
  <h3>You're gonna look amazing 😍<h3>
</div>

<div class="outfit-container">
  <% if @top.photo.attached? %>
    <div class="outfit-image-container">
      <%= cl_image_tag @top.photo.key, class: "outfit-image" %>
    </div>
  <% else %>
    <div class="outfit-image-container">
      <%= image_tag(@top.image_url, class: "outfit-image") %>
    </div>
  <% end %>

  <% if @bottom.photo.attached? %>
    <div class="outfit-image-container" style="margin-top: 40px;">
      <%= cl_image_tag @bottom.photo.key, class: "outfit-image" %>
    </div>
  <% else %>
    <div class="outfit-image-container" style="margin-top: 40px;">
      <%= image_tag(@bottom.image_url, class: "outfit-image") %>
    </div>
  <% end %>
</div>
<div class="button-container">
    <%= link_to 'Back to my wardrobe', garments_path, class: 'btn secondary' %>
  </div>
</div>


<!-- Confetti.js for celebratory animation -->

<script>
    function launchConfetti() {
      if (typeof confetti !== "undefined") {
        confetti({
          particleCount: 200,
          spread: 70,
          origin: { y: 0.6 }
        });
      } else {
        console.error("Confetti library is not loaded.");
      }
    }

    function shouldLaunchConfetti() {
      // Check if the element with id 'success-page' is present
      return document.getElementById('success-page') !== null;
    }

    // For initial page load
    document.addEventListener('DOMContentLoaded', function () {
      if (shouldLaunchConfetti()) {
        launchConfetti();
      }
    });

    // For Turbo page loads
    document.addEventListener('turbo:load', function () {
      if (shouldLaunchConfetti()) {
        launchConfetti();
      }
    });
  </script>
