<div data-controller="camera">
  <div class="navbar navbar-expand-lg navbar-light navbar-lewagon align-items-center">
    <div class="container d-flex" style="width: 90%">
       <% if user_signed_in? %>
              <%= link_to garments_path do %>
                  <%= image_tag "vector.png", alt:"hanger", style:"width: 50px; height: 30px;" %>
                <% end %>
        <div class="nav-item">
          <i class="fa-solid fa-message"></i>
        </div>
        <div class="nav-item camera-button">
          <div class="camera-icon-container">
            <button data-action="click->camera#toggle" class="btn primary" id="camera-button">
              <i class="fa-solid fa-camera fa-2x"></i>
            </button>
          </div>
        </div>
        <div class="nav-item">
          <%= link_to  recommendations_preferences_path  do %>
                <%= image_tag "outfit.png", alt:"outfit", style:"width: 45px; height: 30px;" %>
              <% end %>
        </div>
        <div class="nav-item">
         <i class="fa-regular fa-user"></i>
        </div>
        <% else %>
              <%= link_to "Login", new_user_session_path, class: "nav-link d-none" %>
          <% end %>
    </div>
    <%= render "garments/form", garment: Garment.new %>
  </div>
</div>
